*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image:  url('./images/ayush.png');
    background-size: cover;
    background-position: center ;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

/*-------------------------- about----------------------- */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

.about-col-1{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-col-1 img{
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*----------------- projects---------------------------------- */

#portfolio{
    background-color: black;
    height: 100vh;
    width: 100%;
    padding: 30px;
}

#project-head{
    margin: 30px;
}

#projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.project-list{
    border: 1px solid rgb(44, 42, 42);
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    padding: 10px;
}
.project-list:hover{
    border: 1px solid rgb(44, 42, 42);
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    padding: 10px;
    color: #ff004f;
    transition: 1s;
}


.project-list h1{
    color: #ff004f; 
    font-size: 25px;
    margin: 10px;
}

.project-list p{
    margin: 10px;
}

.project-list img{
    width: 280px;
    height: 120px;
}

.project-list a{
    text-decoration: none;
    color: #ff004f;
    margin: 20px;
    margin-top: 70px;
}

#contact{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: black;
}

#contact p{
    margin: 10px;
}

button{
    background-color: #ff004f;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
    cursor: pointer;
}

#contact-form-fields{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 500px;
}

input{
    margin: 30px;
    height: 100px;
    background-color: #282828;
    border: none;
    padding: 10px;
}

textarea{
    margin: 30px;
    height: 300px;
    background-color: #282828;
    border: none;
    padding: 10px;
}